%a{ :name => 'contributors' }
.contributors
  %h4
    = pluralize(@article['contributors'].size, 'Contributor').gsub(/^\d+\s/, "")
    = surround '(', ')' do
      = @article['contributors'].size
  - @article['contributors'].each do |contributor|
    .media.contributor
      %a.img{:href => "/authors/show"}
        %img{:alt => "", :src => ""}/
      .bd= contributor['name']