.section-header
  = link_to sidebar_overview_path, :class => 'iosstyle fl ios-back', :remote => true do
    %span
    Back
  Find a Contributor
%section.pane.tag-nav
  - ("A".."Z").each do |letter|
    = link_to letter, authors_by_first_letter_path(letter), :class => 'letter-link', :remote => true
  =# link_to "Other", root_path, :class => 'letter-link other', :remote => true
.section.contributor-results