%form.search-form{ :name => "email", :id => "email", :action => "/search", :method => "get", :enctype => "text/plain" }
  %form.search-form
    %input.search-field{ :name => "q", :value => @term, :placeholder => 'Search all content...' }
    .search-icon
%a.adv-options-link{ :href => "", :data => { :remote => true } }
  Advanced Options
.advanced-options
  %form.form-horizontal
    - 6.times do
      .control-group
        %label.control-label{ :for => "input01" } Text input
        .controls
          %input#input01.input-xlarge{ :type => "text", :placeholder => "Search content titles..." }