.contributors
  %h4
    = pluralize(@item['contributors'].size, 'Contributor').gsub(/^\d+\s/, "")
    = surround '(', ')' do
      = @item['contributors'].size
  - @item['contributors'].each do |contributor|
    .media.contributor
      %a.img{:href => ""}
        %img{:alt => "", :src => ""}/
      .bd= contributor['name']