.content-tags
  %h4
    = pluralize(@item['categories'].size, 'Tag').gsub(/^\d+\s/, "")
    = surround '(', ')' do
      = @item['categories'].size
  %ul.fl
    - @item['categories'].each do |category|
      %li.tag
        .tag-nub
        .tag-text= category.html_safe