%nav.fixed-navigation
  %span.title
    %strong SHOWING: POPULAR CONTENT
    (412 results)
  .right-fixed
    %span.desc Sort By:
    .btn-group
      %button.btn Most Popular
      %button.btn.dropdown-toggle{"data-toggle" => "dropdown"}
        %span.caret
      %ul.dropdown-menu
        / dropdown menu links
%nav.article-navigation
  %ul
    - @items.each do |item|
      %li
        .article
          .icon
          .article-body
            %h3.title= item['title']
            %span.meta
              Contributed by
              = item['contributions'].first['author']
              on
              = item['contributions'].first['timestamp']
            .tag-section
              - tag_count = 1
              - item['categories'].each do |category|
              - next if tag_count >= 5
              - tag_count += 1
                %span.tag-nub
                %span.tag= category