%nav.fixed-navigation
  %span.title
    %strong SHOWING: POPULAR CONTENT
    (412 results)
  .right-fixed
    %span.desc Sort By:
    .btn-group
      %button.btn Most Popular
      %button.btn.dropdown-toggle{"data-toggle" => "dropdown"}
        %span.caret
      %ul.dropdown-menu
        / dropdown menu links
%nav.article-navigation
  %ul
    - @items.each do |item|
      %li
        .article
          .icon
          .article-body
            %h3.title= link_to item['title'], result_search_path(:id => item.id)
            .meta
              Contributed by
              = item['contributors'].first['name']
              on
              = Time.parse(item['contributors'].first['timestamp']).strftime('%B %d, %Y at %H:%M')
            .tag-section
              - item['categories'].each do |category|
                .tag
                  .tag-nub
                  .tag-text= category
              .clearfix