%nav.fixed-navigation
  %span.title
    %strong SHOWING: POPULAR CONTENT
    (412 results)
  .right-fixed
    %span.desc Sort By:
    .btn-group
      %button.btn Most Popular
      %button.btn.dropdown-toggle{"data-toggle" => "dropdown"}
        %span.caret
      %ul.dropdown-menu
        / dropdown menu links
%article
  %h3.title= @item['title']
  %div= @content.html_safe
