.viewall {
  position: absolute;
  right: 5px;
  top: 6px;
  margin-right: 14px;
}

.btn-group {
  margin-top: 6px;
  button.btn {
    width: 125px;
    text-align: left;
  }
  button.dropdown-toggle {
    width: 26px;
  }
}

.iosstyle {
  @include background-image(linear-gradient(#FFF,#E7E7E7));
  background-image:-webkit-gradient(linear,color-stop(0, rgb(225,225,225)),color-stop(1, rgb(187,187,187)));
  @include border-radius(5px);
  color: $iosButtonTextColour;
  display: inline-block;
  font-size: 13px;
  height: 18px;
  line-height: 18px;
  padding: 4px 10px;
  border-width: 1px 1px 1px 0;
  border-color: rgba(79, 79, 79, 0.75);
  border-style: solid;
  position: relative;
  padding-left: 6px;
  margin:6px 0 0 8px;
  cursor:pointer;
  z-index: 1;
  &:hover, &:active span {
    text-decoration:none;
    color: $iosButtonTextHoverColour;
  }
  &:active, &:active span {
    color: $iosButtonTextHoverColour;
    @include background-image(linear-gradient(#FFF,rgb(187,187,187)));
  }
  > span {
    @include background-image(linear-gradient(#FFF,#E7E7E7));
    @include border-top-radius(6px);
    @include border-bottom-radius(6px);
    @include rotate(45deg);
    border-left: solid 1px rgba(79, 79, 79, 0.75);
    border-bottom: solid 1px rgba(79, 79, 79, 0.75);
    height: 20.9px;
    width: 20px;
    display: inline-block;
    -webkit-mask-image: -webkit-gradient(linear, left bottom, right top, from(black), color-stop(0.5, black), color-stop(0.5, transparent), to(transparent));
    position: absolute;
    left: -8px;
    top: 2px;
    z-index: -1;
    }
  }

.ios-back {
  position: absolute;
  left: 5px;
  line-height: 16px;
  height: 16px;
  font-size:11px;
  color: $iosButtonDarkTextColour;
  border:1px solid $iosButtonDarkBorder;
  background: $iosButtonDarkBg;
  margin-top: 7px;
  &:hover {
    color: $iosButtonDarkTextHoverColour;
  }
  &:active,
  &:active span {
    background: $iosButtonDarkBgActive;
  }
  > span {
    left: -7px;
    top: 2px;
    height: 19px;
    width: 20px;
    background: $iosButtonDarkBg;
    border-style: solid;
    border-width: 0 0 1px 1px;
    border-color: $iosButtonDarkBorder;
  }
}

.dashboard-button {
  margin: 5px 0 0 10px;
}

.sign-in-as {
  margin-top: 17px;
  margin-left: 20px;
}

.prev.disabled a {
  background-color: #FFF;
  &:hover {
    background-color: #FFF;
  }
}

