.tag-section {
  margin-left: 90px;
}

li.tag {
  display: block;
  float: left;
  a {
    &:hover .tag-nub {
      border-color: transparent $tagHover transparent transparent;
    }
    &:hover .tag-text {
      background-color: $tagHover;
      color: $tagTextHover;
    }
    &:active .tag-text {
      color: $tagTextActive;
    }
  }
  &.darker {
    .tag-nub {
      border-color: transparent $tag transparent transparent;
    }
    .tag-text {
      color: #333333;
      background-color: $tag;
    }
  }
}

.tag-nub {
  border-color: transparent $tag transparent transparent;
  border-style: solid;
  border-width: 9.5px 8.5px 9.5px 0;
  float: left;
  @include rotate(360deg);
}

.tag-text {
  background-color: $tag;
  color: #666666;
  float: left;
  font-size: 11px;
  font-weight: bold;
  margin-bottom: 5px;
  margin-right: 5px;
  padding: 0 5px;
  @include border-radius(0 2px 2px 0);
  a {
    color: $tagText;
  }
}

.meta-tag {
  margin-left: 10px;
}

article.single .content-tags ul {
  margin-top: 0;
}
article.single li.tag {
  margin-bottom: 0;
}