.original-source {
  color:#333333;
  font-size:19px;
  font-weight:bold;
}

.viewall {
  font-size:11px;
  line-height:16px;
  height:16px;
  float:right;
  border-color:#353535;
  @include background-image(linear-gradient(#666,#4c4c4c));
  text-shadow:none;
  color:#BFBFBF;
  &:hover {
    background:#4c4c4c;
    color:#BFBFBF;
  }
}
