$black: #000000;
$white: #FFFFFF;

$bodyBg: #E1E1E1;

$sectionBg: #666666;
$navListBg: #BFBFBF;

$tagLight: #E1E1E1;
$tagDark: #A3A3A3;

$avatarPlaceholder: #CCCCCC;

$linkColour: #0A72A3;

$activeTab: #4C4C4C;
$inactiveTab: #0A72A3;

$lightTopBorderHighlight: #CCCCCC;
$lightBottomBorderHighlight: #E7E7E7;
$darkTopBorderHighlight: #4C4C4C;
$darkBottomBorderHighlight: #858585;

/* Typography */

$lightTitle: #666666;
$bodyText: #3F3F3F;