.tag-section {
  margin-left: 90px;
}

li.tag {
  display: block;
  float: left;
  &.darker {
    .tag-nub {
      border-color: transparent #A3A3A3 transparent transparent;
    }
    .tag-text {
      color: #333333;
      background-color: #A3A3A3;
    }
  }
}

.tag-nub {
  border-color: transparent #e1e1e1 transparent transparent;
  border-style: solid;
  border-width: 9.5px 8.5px 9.5px 0;
  float: left;
  @include rotate(360deg);
}

.tag-text {
  background-color: #e1e1e1;
  border-radius: 0 2px 2px 0;
  color: #666666;
  float: left;
  font-size: 11px;
  font-weight: bold;
  margin-bottom: 5px;
  margin-right: 5px;
  padding: 0 5px;
}