@import "compass";
@import "bootstrap";


.container-fluid {
  padding:0;
}

#sidebar {
  float: left;
  width: 480px;
  height: 800px;
  background-color:#666666;
  nav {
    padding:0 20px;
    float:left;
    width:440px;
    border-bottom:1px solid #B8B8B8;
    h1 {
      font-family: Helvetica;
      font-size:18px;
      color: #FFF;
      height:60px;
      line-height:60px;
      float:left;
    }
    ul {
      float:right;
      margin:0;
      li {
        margin-right:20px;
        float:left;
        list-style-type:none;
        &:last-child {
          margin-right:0;
        }
        a {
          color:#FFF;
          font-size:15px;
          height:60px;
          line-height:60px;
          padding:0;
        }
      }
    }
  }
  .tagline {
    height:40px;
    width:480px;
    float:left;
    background-color:#999999;
    text-align:center;
    h2 {
      height:40px;
      line-height:40px;
      font-size:19px;
      text-shadow: 0 1px 0 #BFBFBF;
      color:#3A3A3A;
    }
  }
  ul.tabbed-nav {
    float:left;
    padding:0;
    margin:0;
    list-style-type:none;
    li {
      a {
        display:block;
        width:98px;
        height:55px;
        padding-top:15px;
        span {
          color:#999999;
          font-size:11px;
          display:block;
          &.number {
            font-size:26px;
            margin-bottom:10px;
          }
        }
        &:hover {
          text-decoration:none;
        }
      }
      background-color:#353535;
      float:left;
      border-width:2px 1px 1px 1px;
      border-color: #000000 #454545 #000000 #000000;
      border-style:solid;
      padding-left:20px;
      &:last-child {
        border-right:0;
      }
      &:first-child {
        border-left:0;
      }
      &.active {
        border-bottom:0;
        background-color:#4C4C4C;
        a {
          .number, .text {
            color:#FFF;
          }
        }
      }
    }
  }
  .tab-content {
    float:left;
  }
}

#body {
  float: left;
  min-width:480px;
}