!!!
%html
  %head
    %title LearningPortal
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body
    .container-fluid
      .row-fluid
        #sidebar
          .navbar
            %h1 LOGO
            %ul.nav
              %li
                %a Admin
              %li
                %a Login
        #body
          = yield